<section id="content">
  <article id="text">
<h1>Editing Room</h1>

<%= render 'form', room: @room %>

<%= link_to 'Show', building_room_path(@building,@room) %> |
<%= link_to 'Back', building_rooms_path(@building) %>
  </article>
</section>